
::ng-deep .p-multiselect-label {
    flex-wrap: wrap;
}

  .p-accordionpanel:not(.p-accordionpanel-active) {
    .p-accordioncontent {
      height: 0;
      overflow: hidden;
    }
  }

  .p-accordionpanel.p-accordionpanel-active {
    .p-accordioncontent {
      height: auto !important;
      overflow: auto !important;
    }
  }