/* Global Styles */
.text-center {
  text-align: center;
}

.proxmox-container{
  height: calc(100vh - 8rem);
}

/* Styling for the Show VMs Button */
.p-button-link {
  background-color: transparent !important;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.p-button-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #fff;
}

/* Styling for Modal Buttons */
.p-button-success {
  background-color: #28a745;
  border-color: #28a745;
}

.p-button-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.p-button-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.p-button-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.p-button-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.p-button-warning:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}
